# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.BlockGame.iml
# Datasource local storage ignored files
/../../../../../../../:\Dev\UnityEngine\BlockGame\.idea\.idea.BlockGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
